{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Emails des 30 derniers jours</h2>
        {% if emails|length > 0 %}
            <div class="list-group">
                {% for email in emails %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ email.subject }}</h5>
                            <small>{{ email.date }}</small>
                        </div>
                        <p class="mb-1">From: {{ email.from }}</p>
                        <div class="email-content" style="overflow-wrap: break-word;">{{ email.content|raw }}</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun email trouvé.</p>
        {% endif %}
    </div>
{% endblock %}
